[data-slug="home"] {
    .intro {
        height: 100vh;
        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $space-8;
        }
    }
    .about {
        height: 100vh;
    }
    .contact {
        height: 100vh;
    }
    .works {
        height: 100vh;
    }
}
